.head{
	margin:-20px;
	padding: -50px;

}

.carousel-inner{ 
 margin: -20px; 
 right:-20px; 
} 

.navbar-form  {
	text-align: center;
	padding: 20px;
	margin: 20px;
}

.form-control{
	height: 35px;
}

.btn-default{
	margin: 10px;
}

.devices{
	
	margin: 10px;
}

.container{
	max-width: 900px;
}
.text{
	text-align: center;
}

.footer{
	position: all;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #000000;
	padding: 10px;
}
